# Application Port & Mode
PORT=5000
NODE_ENV=development

# Frontend URL (CORS Origin)
CLIENT_URL=http://localhost:3000

# Database MySQL Configuration
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_NAME=db_presensi_sman1nagreg

# JSON Web Token Secret
JWT_SECRET=super_secret_jwt_key_sman1nagreg_2026_secure
JWT_EXPIRES_IN=1d

# Upload Configuration
MAX_FILE_SIZE=10485760
